h1 {
    font-family: sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 500px;
    height: 165px;
    font-size: 72px;
    color: yellow;
    background-color: green;
    color-on
}

button:active {
    background-color: lightgreen;
}