body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
}



.scoreboard {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: bold;
    align-items: center;
}

.scoreSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

p {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#player {
    color:orange;
}

#computer {
    color:purple;
}



.announcement {
    display:flex;
    justify-content: center;
    margin: 20px;
    font-size: 48px;
    font-weight: bold;
}



.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 1, 1, 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    font-size: 72px;
    color: yellow;
    background-color: green;
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.rock {
    background-color: red;
}

.paper {
    background-color: green;
}

.scissors {
    background-color: blue;
}

button:active {
    background-color: lightgreen;
}